[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "private"]
	path = private
	url = git@github.com:amarshat/qca-private.git
	update = none
[submodule "bench/lib/ETHFALCON"]
	path = bench/lib/ETHFALCON
	url = https://github.com/ZKNoxHQ/ETHFALCON
[submodule "bench/lib/ETHDILITHIUM"]
	path = bench/lib/ETHDILITHIUM
	url = https://github.com/ZKNoxHQ/ETHDILITHIUM
[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
